
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>My Tasks</title>

    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
</head>

<body>

    <main class="container">

        <h1>My Tasks</h1>

        <a href="{{ url_for('add_task') }}">Add New Task</a>
        <br><br>

        {% if tasks %}

            {% for task in tasks %}

                <article>

                    <h3>{{ task[1] }}</h3>

                    <p>
                        <strong>Description:</strong>
                        {{ task[2] }}
                    </p>

                    <p>
                        <strong>Start:</strong>
                        {{ task[3] }}
                    </p>

                    <p>
                        <strong>End:</strong>
                        {{ task[4] }}
                    </p>

                    <p>
                        <strong>Status:</strong>
                        {{ task[5] }}
                    </p>

                    <p>
                        <strong>Priority:</strong>
                        {{ task[6] }}
                    </p>

                </article>

            {% endfor %}

        {% else %}

            <p>You don't have any tasks yet.</p>

            <a href="{{ url_for('add_task') }}">
                Create your first task
            </a>

        {% endif %}

        <br>

        <a href="{{ url_for('dashboard') }}">
            Back to Dashboard
        </a>

    </main>

</body>
</html>
